<!-- footer.ejs -->
<footer class="py-5 mt-10 text-center">
  <p class="text-sm">Talk to a myMarket Support</p>
  <p class="text-sm">
    <a class="link">Sign in</a> | <a class="link">Buy</a> |
    <a class="link">Reach out</a>
  </p>
  <p class="text-sm">Copyright &copy 2023 myMarket Inc. All rights reserved</p>
  <p class="text-sm">
    <a class="link">View our Privacy policy</a> |
    <a class="link">Terms of service</a>
  </p>
</footer>
